#
# Tools
#

# Vim
*.swp

# Tex
*.aux
*.log
*.dvi
*.pdf

# PID files
# Process Id Files (PID files) are used to keep track of process's launched by 
# utilities. Like make.
#
# They store a unique number id of the process which is used to query and 
# control the process via system apis.
*.pid

#
# Repo Behavior Specific
#

# privateContact.tex
# Ignored so one can include private contact information in their resume without 
# checking it in to public source control. And possibly getting spammed as a 
# result.
#
# A sample privateContact.example.tex file will be provided. Which users are 
# encouraged to copy and modify.
privateContact.tex
